<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Upload Result</title>
   </head>
    
   <body>
   <div><br/><br/></div>
         <div class="col-sm-3"></div>
         <div class="col-sm-7">Error processing your data!!!</div>
         <div class="col-sm-2"></div>
          <div><br/><br/></div>
         <div class="col-sm-3"></div>
         <div class="col-sm-7"><a th:href="@{/uploadOneFile}">Click here to try again</a></div>
         <div class="col-sm-2"></div>
<!--       <th:block th:include="/_menu"></th:block> -->
       
<!--       Description: <span th:utext="${description}"></span> -->
<!--       <br/> -->
<!--       Aadhar: <span th:utext="${aadhar}"></span> -->
<!--       <br/> -->
<!--       Consent: <span th:utext="${consent}"></span> -->
<!--       <br/> -->
<!--       <h3>Uploaded Files:</h3> -->
       
<!--       <ul th:each="file : ${uploadedFiles}"> -->
<!--          <li th:utext="${file}"></li>   -->
<!--       </ul>       -->
       
<!--       <h3>Failed:</h3> -->
<!--       <ul th:each="file : ${failedFiles}"> -->
<!--          <li style="color:red;" th:utext="${file}"></li>   -->
<!--       </ul> -->
       
   </body>
    
</html>